<div class="row row-adjust">
    <div class="row">
        <table class="table table-modified">            
            <tbody>
                <tr>
                    <td class="td-tskd-left">
                        <ul class="ul-tskd-left">
                            <li>{{tskD.TSK.CustomerName}}</li>
                            <li class="task-status-li">{{tskD.TSK.Status}}</li>
                        </ul>
                    </td>
                    <td class="td-tskd-right">
                        <ul class="ul-tskd-right">
                            <li>Task: {{tskD.TSK.TaskNumber}}</li>
                            <li>SR: {{tskD.TSK.ServiceRequestNumber}}</li>
                        </ul>
                    </td>
                </tr>   
                <tr><td colspan="2" class="tskErrMsg" id="tskErr"></td></tr>
            </tbody>                            
        </table>
    </div>
</div>
<table class="table">
    <tbody>
        <tr>
            <td class="td-cntr-lft">Current Counter Reading:</td>
            <td class="td-cntr-rt">
                {{tskD.CurrentCounter}}
            </td>
        </tr>
        <tr>
            <!--td class="td-cntr-lft">Next Counter Reading:</td>
            <td class="td-cntr-rt"-->
            <td class="td-cntr-lft" ng-show="online==true">Next Counter Reading:</td>
            <td class="td-cntr-rt" ng-show="online==true">
                <input type="text" ng-model="nextCounter" class="form-control form-control-mdf" />
            </td>
        </tr>                     
        <tr>
            <td colspan="2" class="td-al-rt">
                <table class="al-btn-tbl">
                    <tr><td colspan="2" class="chgCtrErrMsg" id="chCtrErrMain"></td></tr>                     
                    <tr>
                        <td id="onlineDiv" class="al-btn-td" ng-show="online==true">
                            <input type="button" value="Save" ng-click="changeCounter();" class="gen-btn al-btn" />               
                        </td>
                        <td class="al-btn-td">
                            <input type="button" value="Cancel" ng-click="BackToTaskDetail();" class="gen-btn al-btn" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>    
<div id="offlineDiv">
    <table class="table tbl-lbr table-hover">       
        <tr>
            <td class="col-xs-8 td-modified">
                Offline mode. Update Counter is not allowed.
            </td>
        </tr>
    </table>
</div>  
